<div class="container mt-5">
    <div class="form-area">
        <form #appForm="ngForm" (ngSubmit)="onSubmit(appForm)">
            <div class="form-group mb-3">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="Full Name" name="fullName" ngModel
                    #fullName="ngModel" (change)="getValue(fullName)" required
                    [ngClass]="{'is-invalid': fullName.touched && fullName.invalid}" minlength="5" maxlength="10">
                <div *ngIf="fullName.errors?.required">
                    <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">Full Name is required
                    </div>
                </div>
                <div *ngIf="fullName.errors?.minlength">
                    <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">Full Name is should
                        atleast 5 character</div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" name="email" ngModel #email="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    [ngClass]="{'is-invalid': email.touched && email.invalid}" required>
                <div *ngIf="email.errors?.required">
                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email is required</div>
                </div>
                <div *ngIf="email.errors?.pattern">
                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email is invalid</div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label>Address</label>
                <textarea [ngClass]="{'is-invalid':address.touched && address.invalid}" cols="30" rows="10"
                    class="form-control" placeholder="Address" name="address" ngModel #address="ngModel"
                    required></textarea>
                <div *ngIf="address.errors?.required">
                    <div class="alert alert-danger" *ngIf="address.touched && address.invalid">Address is required</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="appForm.invalid">Submit</button>
        </form>
    </div>
</div>