<!-- <p>{{postArray}}</p>
<ul>
    <li>{{postArray[0]}}</li>
    <li>{{postArray[1]}}</li>
    <li>{{postArray[2]}}</li>
    <li>{{postArray[3]}}</li>
    <li>{{postArray[4]}}</li>
</ul>
<ul>
    <li *ngFor="let post of postArray">{{post}}</li>
</ul> -->
<!-- <h1>Fetching object Array</h1>
<button (click)="addNew()">Add New</button> -->
<!-- <ul>
    <li *ngFor="let post of objArray; let i = index">{{i}}{{post.postTitle}} 
        <button (click)="onDelete(post)">Delete</button>
    </li>
</ul> -->
<!-- <div *ngIf="objArray.length > 0; then postList else noData">
   
</div>
<ng-template #postList>
    <ul>
        <li *ngFor="let post of objArray; let i = index">{{post.postTitle}}
            <button (click)="onDelete(i)">Delete</button>
        </li>
    </ul>
</ng-template>
<ng-template #noData>
    <div>No Data</div>
</ng-template> -->
<!-- <div *ngIf="objArray.length == 0">
    No Data
</div> -->